<footer id="contacts" class="footer" style="background-image: url(images/footer-bg.png);">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__info">
        <div class="footer__info-title">
          Экскурсионный центр “Итарики”
        </div>
        <div class="footer__info-text">
          Программа “Знакомство с Удмуртией”.
        </div>
        <div class="footer__info-copy">
          2020 © Все права защищены.
        </div>
      </div>
      <div class="footer__contacts">
        <div class="header__phone footer__phone">
          <a href="tel:79215348410">+7 (921) 534-84-10</a>
        </div>
        <div class="footer__contacts-adress">
          Адрес: Москва, ул. Красногоурала, 55
        </div>
        <div class="footer__contacts-work">
          Время работы: Пн-Пт с 9:00 до 19:30, Сб-Вс с 10:00 до 18:30
        </div>
        <a class="footer__contacts-email" href="mailto:itariki@gmail.ru">
          itariki@gmail.ru
        </a>
      </div>
    </div>
  </div>
</footer>