@media (max-width: 1150px){
  .reviews__item{
    &-box{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .reviews__box{
    padding-top: 20px;
    padding-left: 0;
  }
  .swiper-buttons {
    top: 75px;
  }
}
@media (max-width: 1025px){
  .swiper-button-next {
    right: 195px;
  }
  .swiper-button-prev {
    left: 175px;
  }
}
@media (max-width: 950px){
  .swiper-button-prev,
  .swiper-button-next{
    position: static;
    display: inline-block;
    margin-bottom: 15px;
  }
  .swiper-buttons{
    margin-bottom: 20px;
    top: 0;
  }
  .menu{
    order: 1;
    &__list{
    display: none;
    position: absolute;
    top: 170px;
    left: 0;
    z-index: 5;
    right: 0;
    text-align: center;
    background: #fff;
    }
    a{
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid #000;
    }
    li{
      display: block;
      & + li{
        margin-left: 0;
      }
      &:first-child{
        border-top: 1px solid #000;
      }
    }
  }
   // start burger menu
   .menu__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    transition: transform 330ms ease-out;
  }
  .menu__btn.open {
    transform: rotate(-45deg);  
  }
  .line-menu {
    background-color: #000;
    border-radius: 5px;
    width: 100%;
    height: 5px;
  }
  .line-menu.half {
    width: 50%;
  }
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
  // end burger menu
  .excursion__item{
    flex-basis: calc(50% - 30px);
    max-width: 100%;
  }
  .connection__inner{
    flex-wrap: wrap;
  }
  .connection__box{
    width: 35%;
  }
}
@media (max-width: 800px){
  .inclusive__items{
    flex-wrap: wrap;
  }
  .inclusive__item{
    width: 50%;
    margin-bottom: 20px;
  }
  .footer__inner{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .footer__info{
    max-width: 100%;
  }
  .footer__contacts{
    max-width: 100%;
    margin-left: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 680px){
  .excursion__item {
    flex-basis: 100%;
    max-width: 100%;
  }
  .connection__title{
    font-size: 26px;
    line-height: 34px;
  }
}
@media (max-width: 580px){
  .menu__btn{
    position: absolute;
    top: 174px;
    right: 13px;
    width: 35px;
    height: 35px;
  }
  .menu__list{
    top: 255px;
  }
  .header__top-inner{
    flex-direction: column;
    padding-top: 30px;
  }
  .header__logo img{
    margin-bottom: 20px;
  }
  .header__phone{
    margin-bottom: 15px;
  }
  .presentation__info-title{
    font-size: 24px;
    line-height: 32px;
  }
  .inclusive__item{
    width: 100%;
  }
}
@media (max-width: 480px){
  .presentation__info-descr {
    font-size: 18px;
    line-height: 26px;
    span{
      font-size: 20px;
      line-height: 28px;
    }
  }
  .connection__content{
    padding: 85px 40px 40px;
  }
  .description__documents{
    flex-wrap: wrap;
  }
  .document__item{
    width: 40%;
    margin-bottom: 25px;
  }
  .box__text{
    &-tour,
    &-tourists{
      padding: 0 20px;
    }
  }
  .description__box-text{
    text-align: left;
  }
  .box__text-guides {
    padding: 30px 20px;
  }
  .connection__box {
    width: 100%;
  }
  .connection__text{
    &::after{
      margin-right: -15px;
    }
    &::before{
      margin-left: -15px;
    }
  }
  .title{
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 380px){
  .presentation__info-descr {
    font-size: 14px;
    line-height: 22px;
    span{
      font-size: 17px;
      line-height: 25px;
    }
  }
  .footer__contacts-adress{
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: 951px){
  .menu__list{
    display: block !important;
  }
}